.highlight {
    background-color: yellow;
    border-radius: 5px;
}

.error {
    background-color: lightcoral;
    border: 2px solid red;
    border-radius: 5px;
}

body {
    background-color: lightblue;
}

h1 {
    color: darkblue;
    text-align: center;
    font-size: 3em;
    margin-top: 40px;
    font-family: "Winky Rough", cursive, sans-serif;
}

p {
    font-family: "Winky Rough", cursive, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 40px;
}

div {
    text-align: center;
    margin: 20px 0;
}

#quote {
    text-align: center;
    margin: 20px 0;
    border-radius: 10px;
}

#message {
    text-align: center;
    margin: 20px 0;
}

#start {
    border-radius: 5px;
    padding: 5px;
}

#typed-value {
    border-radius: 10px;
    padding: 5px;
    border: 2px solid #ccc;
    font-size: 16px;
}